Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch 

# Jetbrain Rider
Plugins/**/RiderLink/*
*.DotSettings.user
.idea/

Content/FreeSampleAnimationSet/*
Plugins/SteamIntegrationKit/*
Content/FreeAnimationLibrary/*
Content/EasyBuildingSystem/*
Content/FlexibleCombatSystem/*
Content/StarterContent/*